<html>
    <head>
        <title>Products</title>
        <script src="components/bower-angularjs/angular.js"></script>
        <script src="app.js"></script>
        <link href="components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="css/main.css" rel="stylesheet" type="text/css" />
    </head>

    <body ng-app="meanProduct" ng-controller="mainCtrl as main">
        <div>
            <h1>List of products</h1>
            <table class="table-striped table-hover table-condensed">
                <tr class="info">
                    <th>Name</th>
                    <th>Code</th>
                    <th></th>
                </tr>
                <tr ng-repeat="product in main.products">
                    <td>
                        <span ng-hide="main.editingData[product.id]">{{ product.name }}</span>
                        <input ng-show="main.editingData[product.id]" type="text" ng-model="product.name" />
                    </td>
                    <td>
                        <span ng-hide="main.editingData[product.id]">{{ product.code }}</span>
                        <input ng-show="main.editingData[product.id]" type="text" ng-model="product.code" />
                    </td>
                    <td>
                        <input ng-show="main.editingData[product.id]" type="button" value="save" ng-click="main.saveProduct(product)" />
                        <input ng-show="main.editingData[product.id]" type="button" value="cancel" ng-click="main.abortEditingProduct(product)" />
                        <input ng-hide="main.editingData[product.id]" type="button" value="edit" ng-click="main.editProduct(product)" />
                        <input ng-hide="main.editingData[product.id]" type="button" value="delete" ng-click="main.deleteProduct(product.id)" />
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <h3>Add New Product</h3>

            <label for="product-name">Name</label>
            <input id="product-name" type="input" ng-model="main.newProductName" />

            <label for="product-code">Code</label>
            <input id="product-code" type="input" ng-model="main.newProductCode" />

            <input type="button" name="add" value="Add" ng-click="main.addProduct()" />
        </div>

    </body>
</html>